<div class="row">
  <div class="form-group col-md-11">
  	<%= form_tag labours_path, method: :get do %>
  		<%= text_field_tag :search, params[:search], type: 'search', placeholder: "Search by labour name, amount or invoice nr", class: "form-control"  %>
      </div>
      <div class="form-group col-md-1">
  		<%= submit_tag 'Search', class: "btn btn-outline-success btn-sm  float-right mt-1" %>
  	<% end %>
  </div>
</div>
<br>
<h1 align="center">Labours</h1>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Descrp</th>
      <th>Nr inv</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @labours.each do |labour| %>
      <tr>
        <td><%= labour.name %></td>
        <td><%= labour.amount %></td>
        <td><%= labour.descrp.truncate_words(10, separator: /\s/) %></td>
        <td><%= labour.nr_inv_lab %></td>
        <td><%= link_to '<i class="far fa-eye"></i> Show'.html_safe, labour, class: "btn btn-outline-primary btn-sm btn-block" %></td>
        <td><%= link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_labour_path(labour), class: "btn btn-outline-success btn-sm btn-block" %></td>
        <td><%= link_to '<i class="fas fa-times"></i> Destroy'.html_safe, labour, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
