<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @labour.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @labour.amount %>
</p>

<p>
  <strong>Descrp:</strong>
  <%= @labour.descrp %>
</p>

<p>
  <strong>Nr inv:</strong>
  <%= @labour.nr_inv_lab %>
</p>

<%= link_to 'Edit', edit_labour_path(@labour) %> |
<%= link_to 'Back', labours_path %>
