<div class="row">
  <div class="form-group col-md-11">
  	<%= form_tag projects_path, method: :get do %>
  		<%= text_field_tag :search, params[:search], type: 'search', placeholder: "Search by labour name, amount or invoice nr", class: "form-control"  %>
      </div>
      <div class="form-group col-md-1">
  		<%= submit_tag 'Search', class: "btn btn-outline-success btn-sm  float-right mt-1" %>
  	<% end %>
  </div>
</div>
<br>

<h1 align="center">All Projects</h1>
<div class="clearfix"></div>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Client</th>
      <th>Name</th>
      <th style="width:30%;">Description</th>
      <th>Budget</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.client.name %></td>
        <td><%= project.name %></td>
        <td><%= project.desc.truncate_words(10, separator: /\s/) %></td>
        <td><%= project.budget %></td>
        <td><%= link_to '<i class="far fa-eye"></i> Show'.html_safe, project, class: "btn btn-outline-primary btn-sm btn-block" %></td>
        <td><%= link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_project_path(project), class: "btn btn-outline-success btn-sm btn-block" %></td>
        <td><%= link_to '<i class="fas fa-times"></i> Delete'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
