<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img class="navbar-brand" src="http://www.applyforsettled.co.uk/wp-content/uploads/2019/10/HaLIPABOUW-e1570097274498.png" alt="HALIPABOUW_logo"
   width="200" height="80">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Clients', clients_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Projects', projects_path, class:"nav-link" %>
      </li>
      <li class="nav-item"><%= link_to 'All Labours', labours_path, class:"nav-link" %>
      </li>
      <li class="nav-item"><%= link_to 'All Materials', materials_path, class:"nav-link" %>
      </li>
      <li class="nav-item"><%= link_to 'Users', users_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <% if (logged_in?) %>
          <%= link_to 'Logout', logout_path, method: :delete, class:"nav-link" %>
        <% end %>
      </li>      
    </ul>
  </div>
</nav>
